<app-page-background image="rebels.jpg"></app-page-background>
<div class="pageWrap" fxLayout="column" fxLayoutAlign="space-between center">
  <h1 class="light">Rebels</h1>
  <span class="quote quote--light">"Rebellions are built on hope."</span>
  <mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="last_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.lastname }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="first_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstname}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="this.globalService.navDetails(row.url)"></mat-row>
  </mat-table>
  <mat-paginator
    #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10]"
    showFirstLastButtons>
  </mat-paginator>
</div>
