@import './../../../styles/colors.scss';

.header {
  height: 10vh;
  border-bottom: 1px solid $primary;
  padding: 0 40px;
  color: $primary;

  &--userConnected {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &--userDisconnected {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &--title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    span {
      font-size: 30px;
      font-weight: 600;
      margin: 0 10px;
    }

    &__logo {
      height: 60px;

      img {
        height: 60px;
      }
    }
  }

  &--user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__userName {
      transform: translateY(-1px);
      line-height: 30px;
      font-size: 30px !important;
      margin-right: 30px;
      font-variant: small-caps;
      font-weight: 500;
    }

    &__logout {
      font-size: 30px;
      cursor: pointer;
    }
  }

  .breadcrumb {
    color: $primary-light;
    line-height: 30px;
    font-size: 25px;
    margin: 0 auto;
    font-variant: small-caps;
  }
}
