<app-auth-background></app-auth-background>
<div class="pageWrap pageWrap--auth" fxLayout="column" fxLayoutAlign="center center">
  <form [formGroup]="lostPwForm" (ngSubmit)="lostPw()" novalidate>
    <h1 class="pageWrap--title">Lost password</h1>
    <span class="quote">"You will find only what you bring in."</span>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" matInput>
      <mat-error>Email required</mat-error>
    </mat-form-field>
    <p>Remember your password ? <a href="/login">click here to login</a></p>
    <button mat-raised-button class="button button--primary">Send</button>
  </form>
  <mat-card *ngIf='!pwResetSuccess'>
    <span class="searchError">
      Sorry, we didn't found any user related to that email.
    </span>
  </mat-card>
</div>

