<div class="nav-container">
  <mat-list class="nav-container__list">
    <span class="nav-container__list__title">Dashboard</span>
    <a mat-list-item href="/profile">Profile</a>
    <a mat-list-item href="/users">Users</a>
    <a mat-list-item href="/search">Search</a>
  </mat-list>
  <mat-list class="nav-container__list">
    <span class="nav-container__list__title">Wookipedia</span>
    <a mat-list-item href="/characters">Characters</a>
    <a mat-list-item href="/planets">Planets</a>
    <a mat-list-item href="/ships">Ships</a>
  </mat-list>
  
</div>
