<div class="nav-container">
  <mat-list class="nav-container__list">
    <span class="nav-container__list__title">Dashboard</span>
    <a mat-list-item href="/profile">
      <mat-icon svgIcon="bb8"></mat-icon>
      Holo Profile
    </a>
    <a mat-list-item href="/users">
      <mat-icon svgIcon="finn"></mat-icon>
      Rebels
    </a>
    <a mat-list-item href="/search">
      <mat-icon svgIcon="blaster"></mat-icon>
      Bounty Search
    </a>
  </mat-list>
  <mat-list class="nav-container__list">
    <span class="nav-container__list__title">Wookipedia</span>
    <a mat-list-item href="/characters">
      <mat-icon svgIcon="master_yoda"></mat-icon>
      Characters
    </a>
    <a mat-list-item href="/planets">
      <mat-icon svgIcon="geonosis"></mat-icon>
      Planets
    </a>
    <a mat-list-item href="/starships">
      <mat-icon svgIcon="millenium_falcon"></mat-icon>
      Starships
    </a>
  </mat-list>
</div>
